default,0,const,string,'Default config location',default,'default.calib.config'
spwIDs,0,const,integer,'List of spectral window IDs',spwIDs,[]
nspwIDs,0,const,integer,'Number of spectral window IDs',nspwIDs,1
fieldIDs,0,const,integer,'Field IDs',fieldIDs,[]
fieldNames,1,const,string,'Name of source in each field',fieldNames,['']
refant,1,const,integer,'Reference antenna',refant,-1
average,1,const,double,'Gain averaging interval',average,300.0
avmode,1,const,string,'Averaging mode',avmode,'RI'
intervalP,1,const,double,'P calibration interval in seconds',intervalP,10.0
intervalG,1,const,double,'G calibration interval in seconds',intervalG,10.0
intervalD,1,const,double,'D calibration interval in seconds',intervalD,1.0e8
intervalB,1,const,double,'B calibration intervals in seconds',intervalB,1.0e8
