default,0,const,string,'Default config location',default,'default.filler.config'
rpfitsnames,2,const,string,'Input FITS file names',rpfitsnames,unset
options,2,calc,string,'Loading options',options,"birdie reweight"
shadow,1,const,double,'Dish size for flagging shadowed data (m),shadow,22.0
fields,2,const,string,'List of field names (sources) to select',sourceNames,' '
freqchain,1,const,integer,'Select one of the simultaneous frequencies',ifchain,0
highfreq,2,calc,quantity,'Highest reference freq to select',highfreq,'1000.0GHz'
lowfreq,2,calc,quantity,'Lowest reference freq to select',lowfreq,'0.1GHz'
firstscan,1,calc,integer,'First scan to read',firstscan,1
lastscan,1,calc,integer,'Last scan to read',lastscan,9999
bandwidth,0,const,integer,'Select on bandwidth (MHz) of the first frequency chain',bandwidth,0
numchan1,0,const,integer,'Select on number of channels in the first frequency chain',numchan,0
