default,0,const,string,'default config location',default,'default.image.config'
spwIDs,1,const,integer,'List of spectral window IDs',spwIDs,[]
nspwIDs,1,const,integer,'Number of spectral window IDs',nspwIDs,1
fieldIDs,1,const,integer,'Field IDs',fieldIDs,[]
fieldNames,1,const,string,'Name of source in each field',fieldNames,['']
doClean,2,const,boolean,'Do clean?',doClean,T
algorithm,2,const,string,'Clean algorithm',algorithm,'cs'
niter,2,const,integer,'Number of iterations',niter,2000
gain,2,const,double,'Loop gain for cleaning',loopgain,0.1
threshold,2,const,string,'Flux level at which to stop clean',threshold,'0Jy'
nchan,1,const,integer,'Number of channels to select',nChannels,1
start,1,const,integer,'Start channels (1-relative)',startChannel,1
step,1,const,integer,'Step in channel number',stepChannel,1
mstart,1,const,integer,'Start velocity',startChannel,unset
mstep,1,const,integer,'Step in velocity',stepChannel,unset
stokes,2,const,string,'Stokes parameters to image',stokes,'I'
doshift,1,const,boolean,'Use the specified phase centre',doShift,F
phasecenter,1,const,measure,'Direction of phase center as a measure',phaseCentre,unset
shiftx,1,const,string,'Shift in x',xShift,'0arcsec'
shifty,1,const,string,'Shift in y',yShift,'0arcsec'
facets,0,const,integer,'Number of facets on each axis',nFacets,1
distance,0,const,string,'Distance to object',distance,'0m'
uvmin,1,const,double,'Minimum uv distance allowed',UVmin,0.0
uvmax,1,const,double,'Maximum uv distance allowed',UVmax,0.0
filtertype,1,const,string,'Type of filtering of u-v tapering',filtertype,'gaussian'
bmaj,1,const,string,'Major axis of filter',bmaj,'0rad'
bmin,1,const,string,'Minor axis of filter',bmin,'0rad'
bpa,1,const,string,'Position angle of filter',bpa,'0deg'
weighttype,1,const,string,'Type of weighting',weighttype,'uniform'
rmode,1,const,string,'Mode of briggs weighting',rmode,unset
noise,1,const,string,'Noise used in absolute briggs weighting',noise,'0.0Jy'
robust,1,const,double,'Parameter in briggs weighting',robust,0.0
fieldofview,1,const,string,'Field of view for uniform weighting',fieldofview,'0arcsec'
npixels,1,const,integer,'Number of pixels in the u and v directions',nPixels,0
displayprogress,0,const,boolean,'Display progress during cleaning?',displayProgress,F
interactive,1,const,boolean,'Run clean interactively?',interactive,T
npercycle,1,const,integer,'Number of clean iters before stopping',nPerCycle,100
fixed,0,const,boolean,'Keep one or more models fixed?',fixed,F
doMem,1,const,boolean,'Do you want to deconvole using MEM?',doMem,F
malgorithm,1,const,string,'MEM algorithm',malgorithm,'entropy'
mniter,1,const,integer,'Number of iterations',mniter,20
sigma,1,const,string,'Image sigma trying to achieve',sigma,'0.001Jy'
targetflux,1,const,string,'Target flux for final image',targetFlux,'1.0Jy'
