default,0,const,string,'default config location',default,'default.flag.config'
doFlagging,2,const,boolean,'Do you want to run automatic flagging?',doFlagging,T
threshold,2,const,integer,'Threshold for time-median flagging',threshold,5
plotRaw,2,const,boolean,'Do you want to make plots of raw data?',plotRaw,T
plotFlagged,2,const,boolean,'Do you want to make plots of flagged data?',plotFlagged,T
